{% extends "base.html" %}

{% block main %}
<div class="container">
  <div class="jumbotron">
    <h1>Bootstrap and Tornado Showcase</h1>
    <p>"Bootstrap is the most popular HTML, CSS, and JS framework for developing
    responsive, mobile-first projects on the web."</p>
    <p>"Tornado is a Python web framework and asynchronous networking library,
      originally developed at FriendFeed. By using non-blocking network I/O,
      Tornado can scale to tens of thousands of open connections, making it
      ideal for long polling, WebSockets, and other applications that require
      a long-lived connection to each user."</p>
  </div>
</div>
{% end %}
